@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Anakotmai';
  src: url('/fonts/anakotmai/anakotmai-light.woff2') format('woff2'),
       url('/fonts/anakotmai/anakotmai-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Anakotmai';
  src: url('/fonts/anakotmai/anakotmai-medium.woff2') format('woff2'),
       url('/fonts/anakotmai/anakotmai-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anakotmai';
  src: url('/fonts/anakotmai/anakotmai-bold.woff2') format('woff2'),
       url('/fonts/anakotmai/anakotmai-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Anakotmai', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Anakotmai', sans-serif;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-16 {
  width: 4rem;
}

.w-64 {
  width: 16rem;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}


option::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--theme-color);
}













.react-calendar {
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #1f2937;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.react-calendar__navigation button:hover {
  text-decoration: underline;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #9ca3af;
}

.react-calendar__tile {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background: none;
  transition: background 0.2s;
}

.react-calendar__tile--now {
  background: #f3f4f6;
  border-radius: 8px;
}

.react-calendar__tile--active {
  background: #ef4444;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile:hover {
  background: #f9fafb;
  border-radius: 8px;
}

.highlight-current-date {
  background-color: #2563eb !important;
  color: white !important;
  border-radius: 50%;
}
